:root {
    --main-color-lovely: #d37a7d;
}
#lovely-space th {
    height: 10px;
    text-align: left;
    background-color: var(--main-color-lovely);
    color: white;
}

#lovely-space th.name {
    width:60%;
}

#lovely-space .title {
    font-weight: bold;
    font-size: 35px;
}

#lovely-space button {
    display: inline-block;
    border: none;
    padding: 1rem 2rem;
    margin: 0;
    text-decoration: none;
    background: var(--main-color-lovely);
    color: #ffffff;
    font-family: sans-serif;
    font-size: 1rem;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out,
    transform 150ms ease;
}

#lovely-space button:hover,
#lovely-space button:focus {
    background: #ba1a33;
}

#lovely-space button:focus {
    outline: 1px solid #fff;
    outline-offset: -4px;
}

#lovely-space button:active {
    transform: scale(0.99);
}

#lovely-space .edit-page-link {
    background-color: var(--main-color-lovely);
    color: white;
    font-size: 20px;
}

#lovely-space input {
    height: 30px;
    font-size: 24px;
    background: none;
    border: none;
    line-height: 1em;
    font-weight: 300;
    padding: 0.125em 0.25em;
    width: 100%;
    border-bottom: 1px solid var(--main-color-lovely);
}

#lovely-space table input {
    width: 100%;
}

#lovely-space table {
    margin-top: 0;
}

#lovely-space input:focus {
    outline: none !important;
    border:1px solid var(--main-color-lovely);
    box-shadow: 0 0 20px var(--main-color-lovely);
}

#lovely-space label {
    font-size: 24px;
    margin-bottom: 0.5em;
    -webkit-transition: all 0.25s;
    transition: all 0.25s;
    font-family: 'Raleway', sans-serif;
    width: 40%;
}

.col-30 {
    float: left;
    width: 30%;
    margin-top: 6px;
}

.col-70 {
    float: left;
    width: 70%;
    margin-top: 6px;
}

#lovely-space div.title {
    margin-bottom: 20px;
    margin-left: 15%;
    color: var(--main-color-lovely);
    font-size: 40px;
    font-weight: 600;
}

#lovely-space #shipment {
    padding-top: 20px;
    padding-bottom: 5px;
}

#lovely-space #shipment input{
    width: 6%;
}

#lovely-space tr:nth-child(even) {
    background-color: #f2f2f2;
}

#lovely-space .jsgrid-grid-body tr:hover {
    background-color: var(--main-color-lovely);
}

#lovely-space .jsgrid-cell{
    border: #d2d2d2 1px solid;
}

#lovely-space .jsgrid-header-cell{
    border: var(--main-color-lovely) 1px solid;
}

#lovely-space button.full {
    width: 100%;
    height: 75px;
}

#lovely-space .half {
    width: 49.8%;
    height: 75px;
}

#lovely-space .selection {
    font-size: 25px;
}

#lovely-space .select2.select2-container {
    width: 49%;
}
#lovely-space .select2.select2-container .select2-selection {
    height: 75px;
    padding-top: 20px;
}

#menu #menu-open {
    display: none;
}

#make-filter {
    height: 58px;
}

div#shop {
    padding-top: 20px;
}
