.container {
    width: 100%;
    max-width: 1024px;
    padding: 0 15px;
    margin: 0 auto;
}

.logo {
    float: left;
}

header {
    color: #544738;
    font-family: helvetica, sans-serif;
}

nav {
    float: right;
}

nav ul li {
    float: left;
    list-style: none;
    margin-right: 1em;
}

nav li a {
    color: #544738;
    text-decoration: none;
    float: left;
    font-size: 25px;
    padding: 12px;
}

nav li a:hover {
    color: #7eb9be;
}

.container:after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 100%;
    max-width: 1024px;
    margin: 0 auto;
}

nav a {
    text-decoration: none;
    line-height: 38px;
}

.container:after, .row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    margin-bottom: 15px;
}

div {
    padding-bottom: 20px;
}

.required:after {
    content: " *";
    color: red;
}

table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th {
    height: 20px;
    text-align: left;
    background-color: #19AED3;
    color: white;
}

td {
    height: 20px;
    vertical-align: bottom;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tr:hover {
    background-color: #f5f5f5;
}

.third-part {
    width: 33.33333337%
}

.full-part {
    width: 100%
}

.clickable-row,
.update_value {
    cursor: hand;
}

.right {
    float: right;
}

.left {
    float: left;
}

th.delete {
    width: 20px
}
